export(
	# 2nd level wrapper
	nzAnova, 
	nzArule, plot.rules,
	nzCa,
	nzContingencyTable, nzTable, nzChisq.test, nzGoodman, nzMantelhaen.test, nzMantelHenszel.test, 
	nzDecTree, plot.nzDecTree, print.nzDecTree, predict.nzDecTree, 
	nzDotProduct, nzPCA,
	nzGlm, print.nzGlm, summary.nzGlm, residuals.nzGlm, predict.nzGlm, fitted.nzGlm, 
	nzKMeans, print.nzKMeans, predict.nzKMeans, plot.nzKMeans,
	nzLm, nzRidge, print.nzLm,
	nzNaiveBayes, predict.nzNaiveBayes, 
	nzRegTree, plot.nzRegTree, print.nzRegTree, predict.nzRegTree, 
	nzTs, print.nzTs, summary.nzTs, forecast.nzTs, forecast,
	nzTwoStep, print.nzTwoStep, predict.nzTwoStep, plot.nzTwoStep,
	nzCallXMProcedure, 
	
	# 1st level wrapper
	callSP,
	
	# utilities
	nzParseRFormula, 
	nzSparse2matrix,
	
	# model management
	modelExist, modelDrop, model2pmml, modelList
)

