# 
# Copyright (c) 2010, 2011, IBM Corp. All rights reserved. 
# 		
# This program is free software: you can redistribute it and/or modify 
# it under the terms of the GNU General Public License as published by 
# the Free Software Foundation, either version 3 of the License, or 
# (at your option) any later version. 
#
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
# GNU General Public License for more details. 
#
# You should have received a copy of the GNU General Public License 
# along with this program. If not, see <http://www.gnu.org/licenses/>. 
#
useDynLib(nzr, .registration = TRUE, .fixes="C_")
importFrom("graphics", "hist")
importFrom("stats", "cov")
importFrom("utils", "head", "tail")
importFrom("methods", "show")

exportMethods("cov", "hist", "print",
# nz.data.frame
	"as.nz.data.frame", "as.data.frame", "[", "<=", "<", ">=", ">", "!=", "==",
	"tapply", "apply", "dim", "NROW", "NCOL", "length", "head", "tail", "names",
	"mean", "colnames",
	# nz.data.frame.rows & nz.data.frame.join.cond
	"|", "&", "$")	

export(
	# nz.data.frame
	nz.data.frame, is.nz.data.frame,
	#is.nz.data.frame.join, 
		#nzJoin, 
		#nzJoin.delete, 
	#nzJoin.permanent,
	nzt, nzTableDef, nzCreateWherePart,
	nzCreateView, nzDropView, nzIsView,
	nzCreateSimplifiedView,
	
	#utils
    decodebase64, encodebase64, encodebase64raw,

	# nz.data.frame - other
	nzRun, nzRunHost, nzApply, nzTApply, 
	nzGroupedApply, nzFilter,

	#nz.list
	nz.list,is.nz.list,
	nzDeleteList,nzAppendList,

	#nz.score
	nzScore,	
	
	#bulk modeling
	nzBulkModel,
	
	#single modeling
	nzSingleModel,

	# NPS general
#	nz.run.stored.procedure, nz.set.stored.procedure,
	nzInstallPackages, 
	nzIsPackageInstalled, 

	# NPS info & actions
	nzStats, nzShowTables, nzDeleteTable, nzTruncateTable, nzExistTable,
	nzNoDSlices, nzDBName, nzGetValidTableName, nzSimpleSignature, nzDependencies,
	nzIsView, nzIsUpper, nzIsLower, nzIsSchemaEnabled,

	# 'nzDualTable' data tables
	nzDualDSliceTable, nzDualTable,

	# connection
	nzConnect, nzConnectDSN, nzCheckConnection, nzIsConnected, nzDisconnect,

	# debug
	nzDebug,

	# other
	nzMerge, nzQuery, nzScalarQuery
)

# not exported
# destroy, empty, nzdf.query, nzGetColumnsSQL, nzGetMatrix
# nzGetObject, nzGetObjectType, nz.run.rae, nzSetupAfterOdbcConnection, 
# getNPSDataType, 
# nzVerifyMatrixExists, nz.verify.nzr.install, 
# setValue, setValues, materialize, nzGetColTypes.nz.data.frame, nz.placefile,
# listTableColumns, nzIsDebug, setupNpsDataTypes
# nz.run.rae.from, nz.run.rae.prepare.columns, initialQueries
# prepareComparisonString
